:root {
    /*--text-color:#d2d2c8;*/
    --text-color:#cfbfbc;
    /*--background-color:#101b26;*/
    --background-color:#232d36;
    --border-color:#de8d6f;
}
html {
    background-color:var(--background-color);
}
body {
    background-color:var(--background-color);
}
header {
    /*background-color:#241b18;*/
    background-color:#2e3337;
}
footer {
    /*background-color:#241b18;*/
    background-color:#2e3337;
}
.navbar-brand {
    color:var(--text-color);
}
.menu-section-title {
    color:var(--text-color);
}
.menu-rule {
    height:4px;
    background-image: linear-gradient(to right, transparent, #fff, transparent);
}

.btn-primary {
    /*background-color:#a34d14;*/
    background-color:#9e5b29;
    border-color:var(--border-color);
}
.btn-secondary:hover {
    color:white;
}
.btn-secondary {
    color:#bddae9;
}
.btn-primary:hover {
    /*background-color:#eb7246;*/
    background-color:#b07345;
    border-color:var(--border-color);
}
.btn-primary:focus {
    /*background-color:#eb7246;*/
    background-color:#c97e44;
    border-color:var(--border-color);
    box-shadow: 0 0 0 .15rem #ffcdba;
}
th {
    color:var(--text-color);
}
td {
    color:var(--text-color);
}

p {
    color:var(--text-color);
}

.slider-range {
    background:var(--border-color);
}

svg text {
    color:var(--text-color);
}

svg line {
    color:var(--text-color);
}

/*
svg path {
    color:var(--text-color);
}
*/

.buffer-slider-fill {
    background:var(--border-color);
}

.buffer-slider-thumb {
    background:#a34d14;
    border:2px solid var(--border-color);
}

.buffer-slider-track {
    background-color:#c2c6ca
}

.slider-handle {
    background:#a34d14;
    border:2px solid var(--border-color);
}

.dropdown-menu {
    background-color:#c2c6ca;
}

.dropdown-item {
    color:black;
}

.dropdown-item.btn-secondary {
    color:black;
}

.dropdown-item.btn-primary {
    background-color:#deab83;
    color:black;
}
.dropdown-item.btn-primary:hover {
    background-color:#f2b280;
    color:black;
}
