.buffer-slider-track {
    border: 2px solid #6c757d;
}

.side-column {
    background-color:#f1f1f1;
}

header {
    background-color:#303030;
}
footer {
    background-color:#303030;
}

.navbar-brand {
    color:white;
}
